@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: min(100% - 30px, 992px);
  margin-inline: auto;
}

.logo {
  width: 80px;
}
#root {
  position: relative;
}